ndenv:
  # These node options will be used unless an option has been overridden in
  # the users dictionary below.
  #
  node:
    global: ''
    packages_install_options: ''
    packages: []
    versions:
      - 6.9.0

  # Name of the file to append the PATH information for ndenv. Defaults to
  # .bash_profile for Debian and .profile for Ubuntu
  #
  # profile: .bash_profile

  # A list of plugins to install.
  #
  # In the example below, 'install' refers to one of the commands that will be
  # available once this plugin has been added. This becomes a conditional check
  # to see if a plugin has already been installed or not - so name it correctly!
  #
  # N.B., you need to include the node-build plugin else you won't be able to
  # install node.
  #
  # plugins:
  #   install: git://github.com/riywo/node-build.git

  # Location of the ndenv repository (you can overwrite it with a local clone)
  #
  # repository: git://github.com/riywo/ndenv.git

  # A dictionary of users that ndenv should be installed for.
  #
  # # Users will install with the default node: options
  # users:
  #   vagrant:
  #     user: vagrant
  #     group: vagrant
  #
  # # Override default :node options
  # users:
  #   vagrant:
  #     user: vagrant
  #     group: vagrant
  #     node:
  #       global: 6.9.0
  #       packages_install_options: --registry http://registry.npmjs.eu
  #       packages:
  #         - gulp
  #       versions:
  #         - 6.9.0
  users:
    vagrant:
      user: vagrant
      group: vagrant
      node:
        global: 6.7.0
        packages_install_options: --registry http://registry.npmjs.org
        packages:
          - gulp
        versions:
          - 6.7.0
