{% import_yaml "ndenv/defaults.yaml" as defaults %}
{% import_yaml "ndenv/osmap.yaml" as osmap %}

{% set ndenv = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('ndenv', {}),
    ),
    base='ndenv',
) %}
